html {
    scroll-behavior: smooth;
}  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f4f4f4;
}

main {
    padding: 20px;
    text-align: center;
}

.link {
    color: rgb(17, 0, 255);
}

#publications {
    text-align: left;
}

.image-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle-image {
    border-radius: 50%;
    width: 350px;
    object-fit: cover;
}

/* Side navigation menu */
.side-nav {
    width: 200px;
    background: #333;
    padding: 1rem;
    position: fixed;
    height: 100%;
    transition: 0.3s;
    overflow-x: hidden;
    left: 0;
    top: 0;
    z-index: 2;
}

.side-nav ul {
    padding: 60px 0 0 0;
    list-style-type: none;
}

.side-nav li {
    margin-bottom: 1rem;
}

.side-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    display: block;
}

.side-nav a:hover {
    color: #f39c12;
}

.side-nav.open {
    width: 200px;
    visibility: visible;
}

.content.open {
    margin-left: 200px;
}

.side-nav.open ul {
    display: block;
}

.side-nav.open + .menu-btn {
    z-index: 3;
}

.menu-btn {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}

.content {
    margin-left: 220px;
    padding: 2rem;
    transition: margin-left 0.3s ease-in-out;
}

/*Hide sidebar on smaller screens*/
@media (max-width: 768px) {
    .side-nav {
        width: 0;
        padding: 0;
        visibility: hidden;
    }

    .content {
        margin-left: 0;
    }

    .menu-btn {
        display: block;
        z-index: 3;
    }
}
